In [2]:
import pandas as pd
df=pd.DataFrame([1,2,3],[2,3,4])
df

   0
2  1
3  2
4  3

In [8]:
df=pd.DataFrame([[1,2,3],[2,3,4]])
df

   0  1  2
0  1  2  3
1  2  3  4

In [7]:
df=pd.DataFrame([1,2,3],[2,3,4],[3,4,5])
df

ValueError: Shape of passed values is (3, 1), indices imply (3, 3)

In [13]:
df=pd.DataFrame([[1,2,3],[2,3,4],[4,5,6],[1,2,3]],['a','b','c','d'],['$','%','^'])
df

   $  %  ^
a  1  2  3
b  2  3  4
c  4  5  6
d  1  2  3

In [3]:
import pandas as pd
df=pd.DataFrame([1,2,3],[2,3,4],index=['r1','r2','r3'],columns=['c1','c2','c3'])
df

TypeError: __init__() got multiple values for argument 'index'

In [6]:
df=pd.DataFrame([[1,2,3],[2,3,4]],index=['r1','r2'],columns=['c1','c2','c3'])
df

    c1  c2  c3
r1   1   2   3
r2   2   3   4

In [2]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6]],['r1','r2'],['c1','c2','c3'])
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6

In [3]:
df.loc['r1']

c1    1
c2    2
c3    3
Name: r1, dtype: int64

In [4]:
df.loc['c2']

KeyError: 'c2'

In [5]:
df.loc['r2','c1']

4

In [7]:
df['c1']

r1    1
r2    4
Name: c1, dtype: int64

In [8]:
df['r1']

KeyError: 'r1'

In [13]:
df.loc['r1':'r2']

    c1  c2  c3
r1   1   2   3
r2   4   5   6

In [16]:
df.loc[['r1','r2'],'c1':'c2']

    c1  c2
r1   1   2
r2   4   5

In [2]:
import pandas as pd
df=pd.DataFrame([['a','b','c'],['d','e','f']],index=[1,2],columns=[1,2,3])
df

   1  2  3
1  a  b  c
2  d  e  f

In [3]:
df[1]

1    a
2    d
Name: 1, dtype: object

In [4]:
df[1,2]

KeyError: (1, 2)

In [5]:
df.loc[1]

1    a
2    b
3    c
Name: 1, dtype: object

In [6]:
df.loc[1,2]

'b'

In [8]:
df=='a'

       1      2      3
1   True  False  False
2  False  False  False

In [9]:
df[df=='a']

     1    2    3
1    a  NaN  NaN
2  NaN  NaN  NaN

In [10]:
df.loc[df=='a']

ValueError: Cannot index with multidimensional key

In [11]:
df.loc[df[1]=='a']

   1  2  3
1  a  b  c

In [12]:
df[df[1]=='a']

   1  2  3
1  a  b  c

In [2]:
import pandas as pd
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],index=['r1','r2','r3'],columns=['c1','c2','c3'])
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

In [7]:
df_nan=df.where(df['c1']==4)
df_nan

     c1   c2   c3
r1  NaN  NaN  NaN
r2  4.0  5.0  6.0
r3  NaN  NaN  NaN

In [5]:
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

In [8]:
df_nan.dropna()

     c1   c2   c3
r2  4.0  5.0  6.0

In [10]:
df_nan.dropna().loc['c1']

KeyError: 'c1'

In [14]:
import numpy as np
df['c1'].astype(np.float64)

r1    1.0
r2    4.0
r3    7.0
Name: c1, dtype: float64

In [15]:
df.sort_values('c1',ascending=False)

    c1  c2  c3
r3   7   8   9
r2   4   5   6
r1   1   2   3

In [16]:
df.sort_values('c1')

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

In [17]:
df.sort_values('c1',ascending=False, inplace=True)
df

    c1  c2  c3
r3   7   8   9
r2   4   5   6
r1   1   2   3

In [18]:
df['c1'].map(lambda x:x+1)

r3    8
r2    5
r1    2
Name: c1, dtype: int64

In [19]:
df.apply(len)

c1    3
c2    3
c3    3
dtype: int64

In [22]:
df.apply(len,axis=1)

r3    3
r2    3
r1    3
dtype: int64

In [23]:
df.apply(type)

c1    <class 'pandas.core.series.Series'>
c2    <class 'pandas.core.series.Series'>
c3    <class 'pandas.core.series.Series'>
dtype: object

In [24]:
df.apply(lambda x:x+1+x*2)

    c1  c2  c3
r3  22  25  28
r2  13  16  19
r1   4   7  10

In [25]:
df.mean()

c1    4.0
c2    5.0
c3    6.0
dtype: float64

In [26]:
df.describe()

        c1   c2   c3
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [27]:
df.describe(percentiles=[0.1,0.9]).round(2)

        c1   c2   c3
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
10%    1.6  2.6  3.6
50%    4.0  5.0  6.0
90%    6.4  7.4  8.4
max    7.0  8.0  9.0

In [28]:
df['c1'].describe()

count    3.0
mean     4.0
std      3.0
min      1.0
25%      2.5
50%      4.0
75%      5.5
max      7.0
Name: c1, dtype: float64

In [31]:
df[['c1','c3']].describe()

        c1   c3
count  3.0  3.0
mean   4.0  6.0
std    3.0  3.0
min    1.0  3.0
25%    2.5  4.5
50%    4.0  6.0
75%    5.5  7.5
max    7.0  9.0

In [32]:
df.groupby('c1')

In [33]:
df.groupby('c1').mean()

    c2  c3
c1
1    2   3
4    5   6
7    8   9

In [37]:
df.sort_values('c1',ascending=True)

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

In [38]:
df.groupby(['c1','c3']).mean()

       c2
c1 c3
1  3    2
4  6    5
7  9    8